@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@700&family=Roboto&family=Sofia&display=swap');

:root{
    --light-gray:#2b3032a1;
    --primary-color:#ffa133;
    --sec-color:#9fff3e;
    --ft-color:#00d7d9;
    --border:#2b3032a1;
    --text-color:red;
    --roboto: "Roboto",sans-serif;
    --gugi: "Gugi",cursive;
    --sofia: "Sofia",cursive;
}

.primary-color{
    color:var(--primary-color)
}
.bg-primary-color{
    background-color: var(--primary-color) !important;
}
.text-color{
    color:var(--text-color);
}
.font-roboto{
    font-family: var(--roboto);
}


/* header */
.header{
    position: fixed;
    z-index: 999;
    width: 100%;
    
}
.logo-text >span {
    font-family: var(--gugi);
    font-size: 18pt;
    text-shadow: 1px 1px white;
    color: var(--sec-color);
}
/* slide-first sec */
.slide-sec{
    height: 350px;
    }
.form-slide{
    margin-top: -30px;
}
.title{
    font-family: var(--roboto);
    font-size: 36pt;
    font-weight: bold;
    text-shadow: 1px 1px var(--sec-color);
}
.sub-title{
    font-family: var(--sofia);
    font-size: 25pt;
    font-weight: bold;
    text-shadow: 1px 1px var(--sec-color); 
}

/* Trending-card */
.card-title {
    margin-top: 30%;
}
.card{
    height: 250px;
}
.card-img{
    height: 250px; 
}
.card-row{
    gap: 20px;
}
.heading-card{
    background-color: var(--sec-color);
    color: white;
    font-family: var(--roboto);
    font-size: 18pt;
    font-weight: bold;
    padding: 10px;
    margin-top: 30px;
}

/* Get app */
.get > input {
    border: 1px solid var(--sec-color);
    border-radius: 4px;
    width: 300px;
    color: lightgrey;
}
.get > button{
    background-color: var(--sec-color);
    border: 1px solid var(--sec-color);
    border-radius: 4px;
    color: white;
}
/* footer-sec */
.ft-sec{
    background-color: var(--ft-color);
    color: var(--primary-color);
    margin-top: 50px;
}
.pd{
    list-style: none;
}
.row-ft-see{
    font-family: var(--roboto);
    font-size: 10pt;
}
.ft-link,.social{
    color: white;
    font-family: var(--roboto);
    font-size: 12pt;
}
.p-sec{
    color: white;
    font-family: var(--roboto);
    font-size: 10pt;
}

/* login and signup page */

.para {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.social-container > a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}


.but {
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    background-color: var(--sec-color);
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 14px 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}

.form-lay {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.input-field {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.social-container {
    margin: 5px ;
}

.social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

#container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
  
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}
.main-signup{
    padding-top: 60px;
}


@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #F09D00;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}
.btn-rounded {
    background-color: var(--sec-color);
}
.btn-rounded:hover{
    background-color: #EEE;
    color: var(--sec-color);
}
.btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.ft-sec-login{
    background-color: var(--ft-color);
    color: white;
    padding: 30px;
    margin-top: 100px;
}

/* about us page */
/* header */
.action > select{
    width: 200px;
    height: 30px;
    border: 1px solid var(--sec-color);
    color: lightgray;
    border-radius: 4px;
   
}
.h-navbar{
    position: fixed;
    z-index: 999;
    padding: 10px;
    width: 100%;
    background-color: var(--primary-color);
}
.logo{
    font-family: var(--gugi);
    font-size: 18pt;
    text-decoration: none;
    color: var(--sec-color);
    text-shadow: 1px 1px white;
  
}
.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.h-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.login-txt{
    color: white;
    text-decoration: none;
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: bold;
}
.action{
    margin-left: 300px;
}
/* banner */
.front-img{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/13/f5/83/75/chicken-litti.jpg");
    margin-top: -20px;
    background-size: 100%;
    height: 500px;
    margin-right: -20px;
    background-repeat: no-repeat;
}
.first-sec-P{
    text-align: center;
    padding: 150px;
    font-family: var(--gugi);
    font-size: 32pt;
    color:var(--primary-color);
    text-shadow: 2px 2px white;
}

@media screen and (min-width: 600px) {
    .first-sec-P{
      font-size: 32px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .first-sec-P {
      font-size: 14px;
    }
  }

  /* gallery of team member */
  .h-gallery{
    font-family: var(--roboto);
    background-color: var(--sec-color);
    color: white;
    background-size: 100%;
    padding: 15px;
}
   .row-flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
  }
  .r-team{
    position: relative;
    width: 100%;
  }
  
  .overlay-team{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 81%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--primary-color);
  }
  
  .r-team:hover .overlay-team {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }